<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carroll.blog.search.dao.EsLearnTestDao">
    <resultMap id="BaseResultMap" type="com.carroll.blog.mbg.model.LearnTestHundred">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="sex" jdbcType="BIT" property="sex"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, phone, sex, address, create_date
  </sql>
    <select id="getAllEsTestList" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from learn_test_hundred
        where 1=1
        <if test="id != null">
            and id = #{id,jdbcType=BIGINT}
        </if>
    </select>

</mapper>